<p>近畿大学</p>
@kinkidaigakuPR
<br>
<h4>
    近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に
    大学に関する情報を発信していきます。個別のお問い合わせには返信を行っておりませんので、ご了承ください。
</h4>
<h6>大阪府東大阪市</h6>
<h6>https://www.instagram.com/?hl=ja</h6>
<h6>2010年12月に登録</h6>
<input type="button" name="ツイート"value="ツイート">
<input type="button" name="ダイレクトメッセージ"value="ダイレクト...">