<%= form_for@tweet, url:{action: :update} do |f| %>
<%= f.label :message, 'ツイート文'%>
<br/>
<%= f.text_field :message, maxlength:"150" %>
<br/>
<%= f.submit '更新' %>
    <% if @tweet.errors.any? %>
        <p>エラーなんです。</p>
        <p>ツイート文は１文字以上１４０文字以内で入力してね。</p>
    <% end %>
<% end %>
