
<p><%= link_to'ツイート','tweets/new'%>
<%= link_to'ツイートと返信','tweets/new'%>
<%= link_to'メディア','tweets/new'%>
</p>
<hr/>

<% @tweets.each do |tweet| %>
<p>ツイート時刻：<%= (Time.current - tweet.tdate).to_i %>秒前</p>
<p>ツイート内容：<%= tweet.message %></p>
<%= link_to 'ツイートを削除', "tweets/#{tweet.id}", method: :delete %>
<%= link_to 'ツイートを編集', "tweets/#{tweet.id}/edit" %>
<%= link_to 'ツイートを表示', "tweets/#{tweet.id}" %>
<hr/>
<% end %>