/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 #header{
  width:60%;
  margin:auto;
 }
 
 #content{
     float:left;
     width:760px;
     height:498px;
     margin:auto;
     background-color: #FFFFFF;
 }
 #sideber{
   float:left;
   width:198px;
   height:498px;
   margin:10px 10px 10px 0px;
 }
 #sideber p{
   font-size: 25px;
 }
 #sideber input{
   color:#FFFFFF;
   background-color:#00CCFF;
   border-style: none;
   border-radius: 15px;
 }
 body{
   background-color: #CCFFFF;
 }
 #account-img img{
     border-radius:20px;
     margin-left: 0;
     padding-left:0%; 
 }
 footer{
     clear: none;
 }